@using CoreDepartment.Models
@model List<Personel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Surname</td>
        <td>City</td>
        <td>Delete</td>
        <td>Update</td>
        <td>Details</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PerId</td>
            <td>@x.Name</td>
            <td>@x.Surname</td>
            <td>@x.City</td>
            <td><a href="/Department/DeleteDepartment/@x.PerId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Department/UpdateDepartment/@x.PerId" class="btn btn-success">Update</a></td>
            <td><a href="#" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>

<a hr