@using CoreDepartment.Models
@model List<Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <td>ID</td>
        <td>Department</td>
        <td>Delete</td>
        <td>Update</td>
        <td>Details</td>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.DepartmentId</td>
            <td>@x.DepartmentName</td>
            <td><a href="/Department/DeleteDepartment/@x.DepartmentId" class="btn btn-danger">Delete</a></td>
            <td><a href="/Department/UpdateDepartment/@x.DepartmentId" class="btn btn-success">Update</a></td>
            <td><a href="/Department/DetailofDepartment/@x.DepartmentId" class="btn btn-info">Details</a></td>
        </tr>
    }
</table>

<a href="/Department/NewDepartment" class="btn btn-primary">New Department</a>